@media only screen and (min-width: 1750px) {
  .responsive-content-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
  }
}
@media only screen and (min-width: 1000px) {
  .light-responsive-content-wrapper {
    max-width: 1000px !important;
  }
}
